@import 'config';
@import 'utilities';
@import 'buttons';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary-color;
  font-family: $font-stack;
  line-height: 1.6;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.showcase {
  background-color: $secondary-color;
  color: set-text-color($primary-color);
  height: 600px;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      list-style: none;

    }

    li {
      padding: 15px;

    }

    a:hover {
      color: $secondary-color;
    }
  }

  a {
    color: white;
  }

  &-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 50%;
    }

    h1 {
      font-size: 50px;
      line-height: 1.2;
    }

    p {
      margin: 20px 0;
    }
  }
}
